<%- include("./partials/header") %>
<h1>Sign Up</h1>

<form action="/register" method="POST">
    <input type="text" name="username" id="">
    <input type="password" name="password" id="">
    <input type="submit" name="" id="">
</form>
<%- include("./partials/footer") %>